
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    background-color: #110022;
    margin: 0;
}
  .navbar{
    border-bottom: solid 2px #79FBEC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    padding-right: 36px;
    transition: 1;
    display: none;
    position: absolute;
}
.navbar-ativo{
    border-bottom: solid 2px #79FBEC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 36px;
    align-items: center;
    transition: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;

}
.imagem-navbar{
    width: 108px;
}
.titulo-navbar{
    color: #ffff;
    padding-top: 0.3em;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 36px;
}
.botao-toggler{
    background: #110022;
    border: solid 1px #ffff;
    transition: 1;
}
#offcanvasNavbar{
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 600px;
    --bs-offcanvas-height: 30vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: ;
    --bs-offcanvas-bg: #110022;
    --bs-offcanvas-border-width: 1px;
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);}
.bi-x{
    position: absolute;
    right: 0;
}
.offcanvas-title{
    padding-top: 38px;
    font-weight: 1000;
    text-align: justify;
    font-size: 2em;
    text-align: center;
    color: #ffff;

}
.offcanvas p{
    font-weight: 400;
    text-align: center;
    font-size: 1.5em;
    color: #ffff;

}
.nav-item{
    padding-top: 0.5em;
    font-weight: 1000;
    font-size: 1.5em;
    color: #ffff;

}
.nav-item:hover{
    text-decoration: underline;
}
.imagem-offcanvas{
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 72px;
}
  .corpo{
    display: grid;
    justify-content: center;
  }
  .imagem-navbar{
    padding-right: 10px;
    width: 63px;
  }

  .section-content {
    color: white;
    padding: 40px;
  }
  .btn{
    margin-top: 10px;
    background-color: #110022;
    border-color: #99B6FF;
  }
  .btn:hover{
    background-color: #99B6FF;
    border-color: #79FBEC;
    color: #110022;
  }
  .btn::after{
    margin-top: 10px;
    background-color: #110022;
    border-color: #79FBEC;
  }
  .footer {
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    background-color: #0000;
    border-top: solid 2px #C08EFD;
    width: 100%;
    text-align: center;
    color: #ffff;
    padding: 20px;
    margin-top: 50px;
}
  .footer a{
    margin-top: 15px;
    display: block;
    font-size: 0.7em;
    text-decoration: none;
    color: #ffff;
  }
  .footer a:hover{
    margin-top: 15px;
    display: block;
    font-size: 0.7em;
    text-decoration: underline;
    color: #ffff;
  }
  .imagem-footer{
    position: absolute;
    right: 0;
    width: 72px;
  }

  .upload-container {
    background-color: #110022;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ffff;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom:solid 2px #99B6FF;
  }

  .upload-container input[type="file"] {
    margin: 10px 0;
  }

  .preview {
    margin-top: 20px;
  }

  .preview img {
    max-width: 100%;
    max-height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .hidden-input {
    display: none; 
  }