.section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #171323, transparent);
    z-index: 1000;
  }
  
  .moon {
    object-fit: fill !important;
    z-index: 3;
  }
  .earth {
    z-index: 10;
  }
  .stars {
    z-index: 1;
  }
  .blackhole {
    object-fit: contain !important;
    transform: translateY(-100px);
    z-index: 2;
  }
  .text {
    object-fit: contain !important;
    z-index: 3;
    transform: translateY(-100px);
  }
  
  .btn {
    position: relative;
    text-decoration: none;
    display: flex;
    padding: 8px 30px;
    border-radius: 44px;
    text-align: center;
    align-items: center;
    max-width: 20em;
    background: #fcdeff;
    color: #2b1055;
    font-size: 2.5em;
    top: 170px;
    max-height: 200px;
    z-index: 9;
    transform: translateY(-100px);
    font-family: 'Poppins', sans-serif;
  }
  
  .btn::hover {
    cursor: pointer !important;
  }
  
  .sec {
    position: relative;
    padding: 100px;
    background: #171323;
  }
  
  .sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
  }
  
  .sec p {
    font-size: 1em;
  }
  
  @media not all and (min-width: 992px) {
    .btn {
      justify-content: center;
      max-width: 11em;
      left: 20%;
      padding: 3px 20px;
      font-size: 2em;
    }
    .svg {
      transform: scale(0.75);
    }
    .text {
      width: 200%;
      height: 200%;
    }
  }

  #dark-overlay {
    background-color: rgba(0, 0, 0, 1);
    opacity: 0;
    transition: opacity 0.2s linear;
    z-index: 9999; /* Certifique-se de que esteja acima das imagens */
}


#typewriter-text {
    z-index: 6;
    color: white;
    position: absolute; /* Faz com que o elemento possa ser posicionado dentro de seu contêiner pai */
    top: 20vh; /* Ajuste este valor para controlar a altura relativa ao topo da página */
    width: 100%; /* Certifique-se de que o texto ocupe toda a largura */
    text-align: center; /* Centraliza o texto horizontalmente */
}

#animated-text {
    display: inline-block;
    white-space: pre; /* Preserva espaços em branco */
}

#animated-text span {
    display: inline;
    transition: opacity 0.5s ease-in-out;
}

@media (max-width: 768px) {
    #animated-text {
        font-size: 2.5rem;
    }
}

#scroll-indicator {
    z-index: 100; /* Certifique-se de que a seta fique acima dos outros elementos */
}

#arrow {
    animation: float 0.3s ease-in-out infinite;
    transform: rotate(90deg);
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(90deg); /* Início da animação */
    }
    50% {
        transform: translateY(-20px) rotate(90deg); /* Move para cima */
    }
    100% {
        transform: translateY(0) rotate(90deg); /* Volta para a posição original */
    }
}